body{
    background:#0d1738;
    font-family: Quicksand;
    font-weight: 500;
}
.navbar-brand{
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
    background: white;
}
.col-md-6{
    padding-left: 5px;
    padding-right: 5px;
}
#mainHead h1{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.navbar.scrolled{
    background: black;
    transition: background 750ms;
}
@media (max-width: 1090px){
    #mainHead h1{
        font-size: 2.1rem;
    }  
    #mainHead p{
        font-size: 0.9rem;
    }
}
@media (max-width: 975px){
    #mainHead h1{
        font-size: 1.9rem;
    }  
    #mainHead p{
        font-size: 0.72rem;
    }
}
@media (max-width: 875px){
    #mainHead h1{
        font-size: 1.6rem;
    }  
    #mainHead p{
        font-size: 0.7rem;
    }
}
